<%- include("../partials/user-header")%>

<!-- Quick view -->
<div
  class="modal fade custom-modal"
  id="quickViewModal"
  tabindex="-1"
  aria-labelledby="quickViewModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="detail-gallery">
              <span class="zoom-icon"><i class="fi-rs-search"></i></span>
              <!-- MAIN SLIDES -->
              <div class="product-image-slider">
                <figure class="border-radius-10">
                  <img
                    src="/userAssets/imgs/shop/product-16-2.jpg"
                    alt="product image"
                  />
                </figure>
                <figure class="border-radius-10">
                  <img
                    src="/userAssets/imgs/shop/product-16-1.jpg"
                    alt="product image"
                  />
                </figure>
                <figure class="border-radius-10">
                  <img
                    src="/userAssets/imgs/shop/product-16-3.jpg"
                    alt="product image"
                  />
                </figure>
                <figure class="border-radius-10">
                  <img
                    src="/userAssets/imgs/shop/product-16-4.jpg"
                    alt="product image"
                  />
                </figure>
                <figure class="border-radius-10">
                  <img
                    src="/userAssets/imgs/shop/product-16-5.jpg"
                    alt="product image"
                  />
                </figure>
                <figure class="border-radius-10">
                  <img
                    src="/userAssets/imgs/shop/product-16-6.jpg"
                    alt="product image"
                  />
                </figure>
                <figure class="border-radius-10">
                  <img
                    src="/userAssets/imgs/shop/product-16-7.jpg"
                    alt="product image"
                  />
                </figure>
              </div>
              <!-- THUMBNAILS -->
              <div class="slider-nav-thumbnails pl-15 pr-15">
                <div>
                  <img
                    src="/userAssets/imgs/shop/thumbnail-3.jpg"
                    alt="product image"
                  />
                </div>
                <div>
                  <img
                    src="/userAssets/imgs/shop/thumbnail-4.jpg"
                    alt="product image"
                  />
                </div>
                <div>
                  <img
                    src="/userAssets/imgs/shop/thumbnail-5.jpg"
                    alt="product image"
                  />
                </div>
                <div>
                  <img
                    src="/userAssets/imgs/shop/thumbnail-6.jpg"
                    alt="product image"
                  />
                </div>
                <div>
                  <img
                    src="/userAssets/imgs/shop/thumbnail-7.jpg"
                    alt="product image"
                  />
                </div>
                <div>
                  <img
                    src="/userAssets/imgs/shop/thumbnail-8.jpg"
                    alt="product image"
                  />
                </div>
                <div>
                  <img
                    src="/userAssets/imgs/shop/thumbnail-9.jpg"
                    alt="product image"
                  />
                </div>
              </div>
            </div>
            <!-- End Gallery -->
            <div class="social-icons single-share">
              <ul class="text-grey-5 d-inline-block">
                <li><strong class="mr-10">Share this:</strong></li>
                <li class="social-facebook">
                  <a href="#"
                    ><img
                      src="/userAssets/imgs/theme/icons/icon-facebook.svg"
                      alt=""
                  /></a>
                </li>
                <li class="social-twitter">
                  <a href="#"
                    ><img
                      src="/userAssets/imgs/theme/icons/icon-twitter.svg"
                      alt=""
                  /></a>
                </li>
                <li class="social-instagram">
                  <a href="#"
                    ><img
                      src="/userAssets/imgs/theme/icons/icon-instagram.svg"
                      alt=""
                  /></a>
                </li>
                <li class="social-linkedin">
                  <a href="#"
                    ><img
                      src="/userAssets/imgs/theme/icons/icon-pinterest.svg"
                      alt=""
                  /></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="detail-info">
              <h3 class="title-detail mt-30">Colorful Pattern Shirts HD450</h3>
              <div class="product-detail-rating">
                <div class="pro-details-brand">
                  <span>
                    Brands: <a href="shop-grid-right.html">Bootstrap</a></span
                  >
                </div>
                <div class="product-rate-cover text-end">
                  <div class="product-rate d-inline-block">
                    <div class="product-rating" style="width: 90%"></div>
                  </div>
                  <span class="font-small ml-5 text-muted"> (25 reviews)</span>
                </div>
              </div>
              <div class="clearfix product-price-cover">
                <div class="product-price primary-color float-left">
                  <ins><span class="text-brand">$120.00</span></ins>
                  <ins
                    ><span class="old-price font-md ml-15">$200.00</span></ins
                  >
                  <span class="save-price font-md color3 ml-15">25% Off</span>
                </div>
              </div>
              <div class="bt-1 border-color-1 mt-15 mb-15"></div>
              <div class="short-desc mb-30">
                <p class="font-sm">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Aliquam rem officia, corrupti reiciendis minima nisi modi,!
                </p>
              </div>

              <div class="attr-detail attr-color mb-15">
                <strong class="mr-10">Color</strong>
                <ul class="list-filter color-filter">
                  <li>
                    <a href="#" data-color="Red"
                      ><span class="product-color-red"></span
                    ></a>
                  </li>
                  <li>
                    <a href="#" data-color="Yellow"
                      ><span class="product-color-yellow"></span
                    ></a>
                  </li>
                  <li class="active">
                    <a href="#" data-color="White"
                      ><span class="product-color-white"></span
                    ></a>
                  </li>
                  <li>
                    <a href="#" data-color="Orange"
                      ><span class="product-color-orange"></span
                    ></a>
                  </li>
                  <li>
                    <a href="#" data-color="Cyan"
                      ><span class="product-color-cyan"></span
                    ></a>
                  </li>
                  <li>
                    <a href="#" data-color="Green"
                      ><span class="product-color-green"></span
                    ></a>
                  </li>
                  <li>
                    <a href="#" data-color="Purple"
                      ><span class="product-color-purple"></span
                    ></a>
                  </li>
                </ul>
              </div>
              <div class="attr-detail attr-size">
                <strong class="mr-10">Size</strong>
                <ul class="list-filter size-filter font-small">
                  <li><a href="#">S</a></li>
                  <li class="active"><a href="#">M</a></li>
                  <li><a href="#">L</a></li>
                  <li><a href="#">XL</a></li>
                  <li><a href="#">XXL</a></li>
                </ul>
              </div>
              <div class="bt-1 border-color-1 mt-30 mb-30"></div>
              <div class="detail-extralink">
                <div class="detail-qty border radius">
                  <a href="#" class="qty-down"
                    ><i class="fi-rs-angle-small-down"></i
                  ></a>
                  <span class="qty-val">1</span>
                  <a href="#" class="qty-up"
                    ><i class="fi-rs-angle-small-up"></i
                  ></a>
                </div>
                <div class="product-extra-link2">
                  <button type="submit" class="button button-add-to-cart">
                    Add to cart
                  </button>
                  <a
                    aria-label="Add To Wishlist"
                    class="action-btn hover-up"
                    href="shop-wishlist.html"
                    ><i class="fi-rs-heart"></i
                  ></a>
                  <a
                    aria-label="Compare"
                    class="action-btn hover-up"
                    href="shop-compare.html"
                    ><i class="fi-rs-shuffle"></i
                  ></a>
                </div>
              </div>
              <ul class="product-meta font-xs color-grey mt-50">
                <li class="mb-5">SKU: <a href="#">FWM15VKT</a></li>
                <li class="mb-5">
                  Tags: <a href="#" rel="tag">Cloth</a>,
                  <a href="#" rel="tag">Women</a>,
                  <a href="#" rel="tag">Dress</a>
                </li>
                <li>
                  Availability:<span class="in-stock text-success ml-5"
                    >8 Items In Stock</span
                  >
                </li>
              </ul>
            </div>
            <!-- Detail Info -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<header class="header-area header-style-2 header-height-2">
  <div class="header-top header-top-ptb-1 d-none d-lg-block">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-3 col-lg-4">
          <div class="header-info">
            <ul>
              <li>
                <i class="fi-rs-smartphone"></i>
                <a href="#">(+01) - 2345 - 6789</a>
              </li>
              <li>
                <i class="fi-rs-marker"></i
                ><a href="page-contact.html">Our location</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-6 col-lg-4">
          <div class="text-center">
            <div id="news-flash" class="d-inline-block">
              <ul>
                <!-- <li>Get great devices up to 50% off <a href="shop-grid-right.html">View details</a></li> -->
                <li>Supper Value Deals - Save more with coupons</li>
                <!-- <li>Trendy 25silver jewelry, save up 35% off today <a href="shop-grid-right.html">Shop now</a></li> -->
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4">
          <div class="header-info header-info-right">
            <ul>
              <li>
                <a class="language-dropdown-active" href="#">
                  <i class="fi-rs-world"></i> English
                  <i class="fi-rs-angle-small-down"></i
                ></a>
                <ul class="language-dropdown">
                  <li>
                    <a href="#"
                      ><img
                        src="/userAssets/imgs/theme/flag-fr.png"
                        alt=""
                      />Français</a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><img
                        src="/userAssets/imgs/theme/flag-dt.png"
                        alt=""
                      />Deutsch</a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><img
                        src="/userAssets/imgs/theme/flag-ru.png"
                        alt=""
                      />Pусский</a
                    >
                  </li>
                </ul>
              </li>

              <li><i class="fi-rs-user"></i><a href="#"><%= username %></a></li>
              <li><i class="fi-rs-user"></i><a href="/logout">Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
        <div class="container">
            <div class="header-wrap">
                <div class="logo logo-width-1">
                    <a href="/"><img src="/WhatsApp Image 2023-11-02 at 6.19.15 PM (1).jpeg" alt="logo"></a>
                </div>
            </div>
        </div>
    </div>
    <main class="main">
        <section class="pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row  d-flex align-items-center justify-content-center">
                            <div class="col-lg-5">
                                <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                                    <div class="padding_eight_all bg-white">
                                        <div class="heading_s1">
                                            <%if (typeof subreddit !== 'undefined') {%>
                                                <p class="text-center" style="color:red;"><%= subreddit %></p>
                                            <%}%>
                                            <h3 class="mb-30">Reset Password</h3>
                                        </div>
                                        <form method="post" action="/post-forgetpassword" id="forgetpasswordform" onsubmit="return validateForm()">
                                            <div class="form-group">
                                                <input type="text" required="" name="email" placeholder="Your Email" id="email">
                                                <div id="emailError" class="error-message"></div>
                                            </div>
                                            <div class="form-group">
                                                <input required="" type="password" name="password" placeholder=" New Password" id="password">
                                                <div id="passwordError" class="error-message"></div>
                                            </div>
                                            <div class="form-group">
                                                <input required="" type="password" name="confirmpassword" placeholder="Confirm password" id="confirmpassword">
                                                <div id="confirmpasswordError" class="error-message"></div>
                                            </div>

                                              <div class="form-group">
    <button type="button" class="btn btn-sm btn-fill-out btn-block hover-up" id="sendOTPButton" name="sendOTPBtn">Send OTP</button>
    <button type="button" class="btn btn-sm btn-fill-out btn-block hover-up" id="resendOTPButton" name="resendOTPBtn" style="display: none;">Resend OTP</button>
</div>
<div class="form-group">
    <input type="text" required="" name="otpInput" placeholder="Enter OTP" id="otpInput">
</div>
<div class="form-group">
    <button type="submit" class="btn btn-fill-out btn-block hover-up" name="reset" id="resetButton" disabled>Reset Password</button>
</div>
<div id="otpExpireTimer" style="display: none;">OTP will expire in <span id="otpExpireTime">45</span> seconds</div>


                                            <%if (typeof message !== 'undefined') {%>
                                                <p class="text-center" style="color:rgb(211, 9, 9);"><%= message %></p>
                                            <%}%>
                                        </form>
                                    </div>
                                </div>
                            </div>

                    </div>
                </div>
            </div>
        </section>
    </main>







    <script>
        const sendOTPbtn = document.getElementById("sendOTPButton");
        const resendOTPbtn = document.getElementById("resendOTPButton");
        const resetButton = document.getElementById("resetButton");
        const otpExpireTimer = document.getElementById("otpExpireTimer");
        const otpExpireTime = document.getElementById("otpExpireTime");
    
        let otpTimer;
        let otpTimeLeft = 45;
    
        sendOTPbtn.addEventListener("click", function (e) {
            e.preventDefault();
    
            // Your existing send OTP logic
    
            // Enable the resend button and start the timer
            enableResendButton(true);
            startOTPTimer();
        });
    
        resendOTPbtn.addEventListener("click", function (e) {
            e.preventDefault();
    
            // Your existing resend OTP logic
    
            // Restart the timer
            startOTPTimer();
        });
    
        function startOTPTimer() {
            otpTimeLeft = 45;
            otpExpireTime.textContent = otpTimeLeft;
    
            // Show OTP expiration timer
            otpExpireTimer.style.display = "block";
    
            otpTimer = setInterval(() => {
                otpTimeLeft--;
                otpExpireTime.textContent = otpTimeLeft;
    
                if (otpTimeLeft === 0) {
                    clearInterval(otpTimer);
                    enableResendButton(true);
                    // Hide OTP expiration timer
                    otpExpireTimer.style.display = "none";
                }
            }, 1000);
        }
    
        function enableResendButton(enable) {
            resendOTPbtn.style.display = enable ? "block" : "none";
        }
    
        resetButton.addEventListener("click", function (e) {
            e.preventDefault();
    
            // Your existing reset password logic
    
            // Stop the OTP timer
            clearInterval(otpTimer);
            enableResendButton(false);
    
            // Hide OTP expiration timer
            otpExpireTimer.style.display = "none";
        });
    </script>



<script>
//    const sendOTPbtn = document.getElementById("sendOTPButton");
//    const resetButton = document.getElementById("resetButton");
   resetButton.disabled = true;
        sendOTPbtn.addEventListener("click", function (e) {
            e.preventDefault();

        if (sendOTP()) {
            // Get form values
            const email = document.querySelector('input[name="email"]').value;
            const password = document.querySelector('input[name="password"]').value;
            const confirmpassword = document.querySelector('input[name="confirmpassword"]').value;
            const otpInput = document.querySelector('input[name="otpInput"]').value;

    
            // Perform client-side validation if needed
    
            // Send a request to your server
            fetch("/post-sentotp", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ email, password ,confirmpassword,otpInput})
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                // Handle the response from the server
                if (data.error) {
                    // Display error using Swal
                    Swal.fire({
                        position: 'top-center',
                        icon: 'error',
                        title: data.error,
                        showConfirmButton: false,
                        timer: 1500
                    });
                } else {
                    // If successful, you can redirect or perform other actions
                    Swal.fire({
                        position: 'top-center',
                        icon: 'success',
                        title: data.message,
                        showConfirmButton: false,
                        timer: 1500
                    });
                    
                }
                resetButton.disabled = false
            })
            .catch(error => {
                console.error("Error:", error);
                // Handle other errors if needed
            });
        }
        });

        function sendOTP() {
            // Reset previous error messages
            resetErrorMessages();

            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;
            // Validate password length
            if (password.length < 6) {
                showError('passwordError', 'Password must be at least 6 characters');
                return false;
            }

            return true; // Placeholder, replace with your actual validation logic
        }

        // Function to show error message
        function showError(elementId, message) {
            const errorElement = document.getElementById(elementId);
            errorElement.textContent = message;
        }

        // Function to reset error messages
        function resetErrorMessages() {
            const errorElements = document.querySelectorAll('.error-message');
            errorElements.forEach((element) => {
                element.textContent = '';
            });
        }

        resetButton.addEventListener("click", function (e) {
            e.preventDefault();
                     
        
            const password = document.querySelector('input[name="password"]').value;
            const otpInput = document.querySelector('input[name="otpInput"]').value;
            fetch("/post-forgetpassword", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ otpInput,password})
            })
            .then(response => {     
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                // Handle the response from the server
                if (data.error) {
                    // Display error using Swal
                    Swal.fire({
                        position: 'top-center',
                        icon: 'error',
                        title: data.error,
                        showConfirmButton: false,
                        timer: 1500
                    });
                } else {
                    // If successful, you can redirect or perform other actions
                    Swal.fire({
                        position: 'top-center',
                        icon: 'success',
                        title: data.message,
                        showConfirmButton: false,
                        timer: 1500
                    });
                    window.location.href = '/login'
                }
            })
            .catch(error => {
                console.error("Error:", error);
                // Handle other errors if needed
            });
        
        });        


</script>

    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script src="/userAssets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/userAssets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/userAssets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/userAssets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/userAssets/js/plugins/slick.js"></script>
    <script src="/userAssets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/userAssets/js/plugins/wow.js"></script>
    <script src="/userAssets/js/plugins/jquery-ui.js"></script>
    <script src="/userAssets/js/plugins/perfect-scrollbar.js"></script>
    <script src="/userAssets/js/plugins/magnific-popup.js"></script>
    <script src="/userAssets/js/plugins/select2.min.js"></script>
    <script src="/userAssets/js/plugins/waypoints.js"></script>
    <script src="/userAssets/js/plugins/counterup.js"></script>
    <script src="/userAssets/js/plugins/jquery.countdown.min.js"></script>
    <script src="/userAssets/js/plugins/images-loaded.js"></script>
    <script src="/userAssets/js/plugins/isotope.js"></script>
    <script src="/userAssets/js/plugins/scrollup.js"></script> 
    <script src="/userAssets/js/plugins/jquery.vticker-min.js"></script>
    <script src="/userAssets/js/plugins/jquery.theia.sticky.js"></script>
    <!-- Template  JS -->
    <script src="/userAssets/js/maind134.js?v=3.4"></script>

    <%- include("../partials/user-footer")%>

























    <%- include("../partials/user-header")%>

<header class="header-area header-style-2 header-height-2">
    <div class="header-top header-top-ptb-1 d-none d-lg-block">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-3 col-lg-4">
                    <div class="header-info">
                        <ul>
                            <li><i class="fi-rs-smartphone"></i> <a href="#">(+01) - 2345 - 6789</a></li>
                            <li><i class="fi-rs-marker"></i><a  href="page-contact.html">Our location</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-4">
                    <div class="text-center">
                        <div id="news-flash" class="d-inline-block">
                            <ul>
                                <!-- <li>Get great devices up to 50% off <a href="shop-grid-right.html">View details</a></li> -->
                                <li>Supper Value Deals - Save more with coupons</li>
                                <!-- <li>Trendy 25silver jewelry, save up 35% off today <a href="shop-grid-right.html">Shop now</a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4">
                    <div class="header-info header-info-right">
                        <ul>
                            <li>
                                <a class="language-dropdown-active" href="#"> <i class="fi-rs-world"></i> English <i class="fi-rs-angle-small-down"></i></a>
                                <ul class="language-dropdown">
                                    <li><a href="#"><img src="/userAssets/imgs/theme/flag-fr.png" alt="">Français</a></li>
                                    <li><a href="#"><img src="/userAssets/imgs/theme/flag-dt.png" alt="">Deutsch</a></li>
                                    <li><a href="#"><img src="/userAssets/imgs/theme/flag-ru.png" alt="">Pусский</a></li>
                                </ul>
                            </li>
                            <!-- <li><i class="fi-rs-user"></i><a href="/login">Log In</a></li>
                            <li><i class="fi-rs-user"></i><a href="/signup">Sign Up</a></li>  -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
        <div class="container">
            <div class="header-wrap">
                <div class="logo logo-width-1">
                    <a href="/"><img src="/WhatsApp Image 2023-11-02 at 6.19.15 PM (1).jpeg" alt="logo"></a>
                </div>
            </div>
        </div>
    </div>





    <main class="main">
        <section class="pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row  d-flex align-items-center justify-content-center" >

                            <div class="col-lg-6">
                                <div class="login_wrap widget-taber-content p-30 background-white border-radius-5">
                                    <div class="padding_eight_all bg-white">
                                        <div class="heading_s1">
                                            <h3 class="mb-30">Forgot Password</h3>
                                        </div>
                                        <%if (typeof error !== 'undefined') {%>
                                            <p class="text-center" style="color:red;"><%= error %></p>
                                        <%}%>
                                       

                                        <form method="post" action="/get-changepswd" onsubmit="return validateForm()">
                                            
                                            <div class="form-group">
                                                <input type="text" required="" name="email" placeholder="Email" id="email">
                                                <div id="emailError" class="error-message"></div>
                                            </div>
                                            <div class="form-group">
                                                <input required="" type="password" name="password" placeholder="Password" id="password">
                                                <div id="passwordError" class="error-message"></div>
                                            </div>
                                            <div class="form-group">
                                                <input required="" type="password" name="confirmpassword" placeholder="Confirm password" id="confirmpassword">
                                                <div id="confirmpasswordError" class="error-message"></div>
                                            </div>
                                            
                                            <div class="form-group">
                                                <button type="button" class="btn btn-sm btn-fill-out btn-block hover-up" data-mdb-ripple-color="dark" id="sendOTPButton" name="sendOTPBtn" onclick="sendOTP()">Send OTP</button>
                                            </div>

                                            <div class="form-group">
                                                <input type="text" required="" name="otpInput" placeholder="Enter OTP" id="otpInput">
                                            </div>

                                            <div class="form-group">
                                                <div id="timer" class="mb-3" style="display: none; color: blue;"></div>
                                            </div>
                                            
                                            <div class="form-group d-flex justify-content-end">
                                                <button class="btn btn-primary" type="button" id="resendOTPButton" style="display: none;">Resend OTP</button>
                                            </div>
                                            

                                            <div class="form-group">
                                                <button type="button" class="btn btn-sm btn-fill-out btn-block hover-up" id="verifyOTPButton" name="verifyOTPBtn">Verify OTP</button>
                                            </div>
                                            <div class="login_footer form-group">
                                                <!-- <div class="chek-form">
                                                    <div class="custome-checkbox">
                                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox12" value="">
                                                        <label class="form-check-label" for="exampleCheckbox12"><span>I agree to terms &amp; Policy.</span></label>
                                                    </div>
                                                </div> -->
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-fill-out btn-block hover-up" name="loginbtn" id="submitButton">Reset Password</button>
                                            </div>
                                        </form>
                                        
                                        <div class="text-muted text-center">Already have an account? <a href="/login">Sign in now</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
    <!-- Preloader Start -->
    <!-- <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    
    <!-- for sending otp and verifing -->
    <script>
        // function enableVerifyButton(enable) {
        // const verifyOTPButton = document.getElementById("verifyOTPButton");
        // verifyOTPButton.disabled = !enable;
        // }
        submitButton.disabled = true;
        
        let timerElement = document.getElementById('timer');
        let countdown;

        const sendOTPButton = document.getElementById("sendOTPButton");
        const resendOTPButton = document.getElementById("resendOTPButton");
        const verifyOTPButton = document.getElementById("verifyOTPButton");

        sendOTPButton.addEventListener("click", function (e) {
            e.preventDefault();

            // Validate the form before sending OTP
            if (validateForm()) {
                const email = document.querySelector('input[name="email"]').value;
                const phoneNumber = document.querySelector('input[name="phoneNumber"]').value;

                fetch(`/send-otp?email=${email}&phoneNumber=${phoneNumber}`)
                    .then((response) => {
                        if (!response.ok) {
                            throw new Error(`HTTP error! status: ${response.status}`);
                        }
                        return response.json();
                    })
                    .then((data) => {
                        console.log("Response from server", data);

                    if (data.error) {
                    // User already exists, display error message
                    Swal.fire({
                        position: 'top-center',
                        icon: 'error',
                        title: data.error,
                        showConfirmButton: false,
                        timer: 1500
                    });
                    } else {
                    // User doesn't exist, continue with OTP sending logic
                    Swal.fire({
                        position: 'top-center',
                        icon: 'success',
                        title: 'OTP sent to email successfully',
                        showConfirmButton: false,
                        timer: 1500
                    });
                    startResendTimer();
                    }
                    })
                    .catch((error) => {
                        console.error("Error sending OTP", error);
                    });
            } else {
                // Form is not valid, display an error message or handle it accordingly
                // alert('Form is not valid. Please check your inputs.');
                // Swal.fire({
                //     icon: "error",
                //     title: "Oops...",
                //     text: "Error sending OTP.",
                //     footer: '<a href="#">Why do I have this issue?</a>'
                //     });
            }
            // enableVerifyButton(true);
        });

        

        resendOTPButton.addEventListener("click", function (e) {
            e.preventDefault();

            clearInterval(countdown);
            // Validate the form before sending OTP
            if (validateForm()) {
                const email = document.querySelector('input[name="email"]').value;
                const phoneNumber = document.querySelector('input[name="phoneNumber"]').value;

                fetch(`/send-otp?email=${email}&phoneNumber=${phoneNumber}`)
                    .then((response) => {
                        if (!response.ok) {
                            throw new Error(`HTTP error! status: ${response.status}`);
                        }
                        return response.json();
                    })
                    .then((data) => {
                        console.log("Response from server", data);

                    if (data.error) {
                    // User already exists, display error message
                    Swal.fire({
                        position: 'top-center',
                        icon: 'error',
                        title: data.error,
                        showConfirmButton: false,
                        timer: 1500
                    });
                    } else {
                    // User doesn't exist, continue with OTP sending logic
                    Swal.fire({
                        position: 'top-center',
                        icon: 'success',
                        title: 'OTP sent to email successfully',
                        showConfirmButton: false,
                        timer: 1500
                    });
                    startResendTimer();
                    }
                    })
                    .catch((error) => {
                        console.error("Error sending OTP", error);
                    });
            } else {
                // Form is not valid, display an error message or handle it accordingly
                // alert('Form is not valid. Please check your inputs.');
                // Swal.fire({
                //     icon: "error",
                //     title: "Oops...",
                //     text: "Error sending OTP.",
                //     footer: '<a href="#">Why do I have this issue?</a>'
                //     });
            }
            // enableVerifyButton(true);
        });

        function startResendTimer() {
            let remainingTime = 45;
            timerElement.style.display = "block";
            resendOTPButton.style.display = "none";
            sendOTPButton.style.display = "none"; // Hide the sendOTPButton

            countdown = setInterval(() => {
                timerElement.textContent = `Resend in ${remainingTime} seconds`;
                remainingTime--;

                if (remainingTime < 0) {
                    clearInterval(countdown);
                    timerElement.style.display = "none";
                    resendOTPButton.style.display = "block";
                    sendOTPButton.style.display = "none"; // Ensure sendOTPButton is hidden when timer expires
                }
            }, 1000);
        }

        
      
    </script>





<script>
    //    const sendOTPbtn = document.getElementById("sendOTPButton");
    //    const resetButton = document.getElementById("resetButton");
       resetButton.disabled = true;
            sendOTPbtn.addEventListener("click", function (e) {
                e.preventDefault();
    
            if (sendOTP()) {
                // Get form values
                const email = document.querySelector('input[name="email"]').value;
                const password = document.querySelector('input[name="password"]').value;
                const confirmpassword = document.querySelector('input[name="confirmpassword"]').value;
                const otpInput = document.querySelector('input[name="otpInput"]').value;
    
        
                // Perform client-side validation if needed
        
                // Send a request to your server
                fetch("/post-sentotp", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ email, password ,confirmpassword,otpInput})
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! status: ${response.status}`);
                    }
                    return response.json();
                })
                .then(data => {
                    // Handle the response from the server
                    if (data.error) {
                        // Display error using Swal
                        Swal.fire({
                            position: 'top-center',
                            icon: 'error',
                            title: data.error,
                            showConfirmButton: false,
                            timer: 1500
                        });
                    } else {
                        // If successful, you can redirect or perform other actions
                        Swal.fire({
                            position: 'top-center',
                            icon: 'success',
                            title: data.message,
                            showConfirmButton: false,
                            timer: 1500
                        });
                        
                    }
                    resetButton.disabled = false
                })
                .catch(error => {
                    console.error("Error:", error);
                    // Handle other errors if needed
                });
            }
            });
    
            function sendOTP() {
                // Reset previous error messages
                resetErrorMessages();
    
                const email = document.getElementById('email').value;
                const password = document.getElementById('password').value;
                // Validate password length
                if (password.length < 6) {
                    showError('passwordError', 'Password must be at least 6 characters');
                    return false;
                }
    
                return true; // Placeholder, replace with your actual validation logic
            }
    
            // Function to show error message
            function showError(elementId, message) {
                const errorElement = document.getElementById(elementId);
                errorElement.textContent = message;
            }
    
            // Function to reset error messages
            function resetErrorMessages() {
                const errorElements = document.querySelectorAll('.error-message');
                errorElements.forEach((element) => {
                    element.textContent = '';
                });
            }
    
            resetButton.addEventListener("click", function (e) {
                e.preventDefault();
                         
            
                const password = document.querySelector('input[name="password"]').value;
                const otpInput = document.querySelector('input[name="otpInput"]').value;
                fetch("/post-forgetpassword", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ otpInput,password})
                })
                .then(response => {     
                    if (!response.ok) {
                        throw new Error(`HTTP error! status: ${response.status}`);
                    }
                    return response.json();
                })
                .then(data => {
                    // Handle the response from the server
                    if (data.error) {
                        // Display error using Swal
                        Swal.fire({
                            position: 'top-center',
                            icon: 'error',
                            title: data.error,
                            showConfirmButton: false,
                            timer: 1500
                        });
                    } else {
                        // If successful, you can redirect or perform other actions
                        Swal.fire({
                            position: 'top-center',
                            icon: 'success',
                            title: data.message,
                            showConfirmButton: false,
                            timer: 1500
                        });
                        window.location.href = '/login'
                    }
                })
                .catch(error => {
                    console.error("Error:", error);
                    // Handle other errors if needed
                });
            
            });        
    
    
    </script>
    
    <!-- Vendor JS-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


    <script src="/userAssets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/userAssets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/userAssets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/userAssets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/userAssets/js/plugins/slick.js"></script>
    <script src="/userAssets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/userAssets/js/plugins/wow.js"></script>
    <script src="/userAssets/js/plugins/jquery-ui.js"></script>
    <script src="/userAssets/js/plugins/perfect-scrollbar.js"></script>
    <script src="/userAssets/js/plugins/magnific-popup.js"></script>
    <script src="/userAssets/js/plugins/select2.min.js"></script>
    <script src="/userAssets/js/plugins/waypoints.js"></script>
    <script src="/userAssets/js/plugins/counterup.js"></script>
    <script src="/userAssets/js/plugins/jquery.countdown.min.js"></script>
    <script src="/userAssets/js/plugins/images-loaded.js"></script>
    <script src="/userAssets/js/plugins/isotope.js"></script>
    <script src="/userAssets/js/plugins/scrollup.js"></script>
    <script src="/userAssets/js/plugins/jquery.vticker-min.js"></script>
    <script src="/userAssets/js/plugins/jquery.theia.sticky.js"></script>
    <!-- Template  JS -->
    <script src="/userAssets/js/maind134.js?v=3.4"></script>

    <%- include("../partials/user-footer")%>